.fa-edit {
    color: #22abdf;
  }
  
  .fa-trash-alt {
    color: #ff0000;
  }

  .btn-ferramentas {
    display: flex;
    button {
      border: none;
      background: none;
      cursor: pointer;
    }
  }
  